apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: firaskdidi/projetpfe-backend:d6f9656cc23b032c62df1b96510fb76c371b3213
          ports:
            - containerPort: 8086
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mariadb://mariadb-service:3306/projetpfe"
            - name: SPRING_DATASOURCE_USERNAME
              value: "root"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "0000"
            - name: CAMUNDA_CLIENT_ZEEBE_GATEWAY_ADDRESS
              value: "zeebe-gateway:26500"
            - name: KEYCLOAK_AUTH_SERVER_URL
              value: "http://keycloak-service:8080"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
